<button mat-raised-button> Click me!</button>
<button mat-flat-button> Click me!</button>
<button mat-flat-button> Click me!</button>
<button mat-icon-button>Icon</button>
<button mat-fab>Icon</button>
<div>
    <button color="primary" mat-raised-button> Click me!</button>
    <button color="accent" mat-raised-button> Click me!</button>
    <button color="warn" mat-raised-button> Click me!</button>
</div>

<section>
    <mat-card class="ticket-add-card">
        <button mat-fab aria-label="Plus icon"><mat-icon  class="incrementors">remove</mat-icon></button> 
        <mat-card-content>00</mat-card-content>
        <button mat-fab aria-label="Plus icon"><mat-icon  class="incrementors">add</mat-icon></button>
    </mat-card>
    <div>
        <button mat-fab extended>Buy</button>
    </div>
</section>
